<div class="whiteback">
<h1><%= @status %></h1>
</div>
<div class="therest companylist">
<table width="100%">
  <thead style="text-align: left; padding-left: 0px;">
    <tr>
      <th width="33%">Title</th>
      <th width="33%">Theme</th>
      <th width="33%">Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= link_to music.Title, music %></td>
        <td><%= music.Theme %></td>
        <td><%= music.Artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
